@import url('icons.css');

@font-face {
  font-family: Felipa;
  src: url(assets/Felipa-Regular.woff2);
}

html {
  font: 14px verdana, sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  background-color: #202020;
  border-bottom: 1px solid rgb(222, 222, 222);
}

header > div {
  display: inline;
}

.header_link {
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 0.1vw;
}

main {
  flex: 1;
  overflow-y: auto;
}

#schedule {
  width: 100%;
}

#google-button {
  width: 100%;
}

#google-iframe-container {
  display: none;
  width: 100%;
  height: 400px;
}

#google-iframe {
  display: none;
  width: 133%;
  height: 133%;
  transform: scale(0.75);
  filter: brightness(0.85);
  transform-origin: top left;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  text-align: right;
  background-color: #202020;
  padding: 0.2rem;
  border-left: 1px solid white;
  border-top: 1px solid white;
}

body {
  background: url("assets/trs_bg.jpg") center center / cover no-repeat fixed;
}

.wrap {
  background-color: rgba(32, 32, 32, 0.8);
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 5px;
  border: 1px solid #000;
  text-align: left;
}

@media only screen and (min-width: 1000px) {
  .wrap {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media only screen and (max-width: 1000px) {
  .wrap {
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

h1, h2, h3, h4, label, li, p, figcaption, dt, #nav, #hy_text {
  color: rgb(222, 222, 222);
}

@media only screen and (min-width: 800px) and (max-width: 1100px) and (max-height: 1680px) {
  h1 {
    margin-bottom: 15px;
  }
}

h1 {
  font-family: Felipa;
  font-size: 3rem;
  clear: both;
}

h1, h2, h3, h4 {
  text-align: center;
}

p {
  margin: 10px;
}

h2 {
  font-family: Felipa;
  font-size: 2.5rem;
}

a {
  color: #8d98ffff;
}

a:visited {
  color: #ff69b4;
}
